<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="AppSetup" Language="1033" Version="1.0.0.0" Manufacturer="Ascend" UpgradeCode="439f8d4f-17ba-475f-b6d7-69dd712eed50">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Program Formatter is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="AppSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AppSetup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent"> 
				<!-- TODO: Insert files, registry keys, and other resources here. -->
      <File Source="$(var.ProgramFormatter.TargetPath)" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
